.searchInput {
  font-family: "Yekan-Regular", sans-serif !important; /* تغییر فونت کل اینپوت */
}

.searchInput .ant-input {
  background-color: transparent !important; /* پس‌زمینه شفاف */
  font-family: "Yekan-Regular", sans-serif !important;
}

.searchInput .ant-input::placeholder {
  font-family: "IranSans", sans-serif !important; /* تغییر فونت placeholder */
  color: gray !important; /* رنگ placeholder */
}

.searchInput .ant-btn-primary {
  background-color: red !important; /* رنگ قرمز برای دکمه */
  border: none !important;
  font-family: "Yekan-Bold", sans-serif !important; /* تغییر فونت دکمه */
  padding: 0 20px !important; /* افزایش فاصله دکمه از اطراف */
}
