.customRulesModal .ant-modal-content {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.customRulesModal .ant-modal-close {
  display: none !important;
}

.customRulesModal .ant-modal {
  max-width: 400px;
  top: 50%;
  transform: translateY(-50%);
}
