.customRulesModal .ant-modal-content {
  background: rgba(0, 0, 0, 0.6) !important; /* پس‌زمینه مشکی نیمه شفاف */
  backdrop-filter: blur(10px); /* افکت شیشه‌ای */
  border-radius: 12px !important; /* گرد کردن گوشه‌ها */
  border: 1px solid rgba(255, 255, 255, 0.2); /* ایجاد مرز نرم */
}

.customRulesModal .ant-modal-close {
  display: none !important; /* حذف دکمه بستن */
}

.customRulesModal .ant-modal {
  max-width: 400px; /* عرض مناسب */
  top: 50%;
  transform: translateY(-50%);
}
