@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app-fonts.css";
@import "../styles/swiper-styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #005b4c;
    --primary-text: #ffffff;
    --secondary: #f0d9b1;
    --secondary-text: #000000;
    --gray: #4b4b4d;
    --white: #000000;
    --text: "black";
  }
}

html {
  background-color: #232323;
  direction: rtl;
}

*::-webkit-scrollbar {
  width: 4px;
}

@media screen and (max-width: 480px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(232deg, #fff, #fff0, #fff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
